<div class="wrap">
    <input type="text" [(ngModel)]="password" (input)="passwordCheck()" placeholder="Enter your password">
    <div class="bar">
        <div class="strength"
            [ngStyle]="{'background-color': lengthCheck == 0 ? 'gray' : lengthCheck < 8 ? 'red' : passwordCount == 3 ? 'green' : passwordCount == 2 ? 'yellow' : passwordCount == 1 ? 'red' : 'gray'}">
        </div>
        <div class="strength"
            [ngStyle]="{'background-color': lengthCheck == 0 ? 'gray' : lengthCheck < 8 ? 'red' : passwordCount == 3 ? 'green' : passwordCount == 2 ? 'yellow' : 'gray'}">
        </div>
        <div class="strength"
            [ngStyle]="{'background-color': lengthCheck == 0 ? 'gray' : lengthCheck < 8 ? 'red' : passwordCount == 3 ? 'green' : 'gray'}">
        </div>
    </div>
</div>